{% extends '::Front/front.html.twig' %}
{% block title %}{{parent()}} About us {% endblock %}
{%block carsl %}
               
{%endblock %}
{% block body %}
   <div id="wrapper">
    <h1>   About us    </h1>
  </div>
{% endblock %}
