{% extends '::front/front.html.twig' %}
{% block title %}{{parent()}} Our services {% endblock %}
{%block carsl %}
              
{%endblock %}
{% block body %}
  <div id="wrapper">
    <div class="page" id="testimonials">
    <div class="container-fluid">
	  <h2>Testimonials</h2>
	  <div class="row">
	    
		<blockquote class="col-sm-6" id="janeh">
		  <div class="quote">
			<span class="intro">Traitement des DEEE professionnel</span>
			<span class="more">On vous assure un service de traitement et de dépollution de vos déchets par des acteurs reconnus. Le recyclage des DEEE sont rigoureusement sélectionnés suivant des critères de qualité et leurs capacités à innover dans les procédés de recyclage.</span>
			<span class="customer"></span>
		  </div>
		</blockquote>

		<blockquote class="col-sm-6" id="mcphersons">
		  <div class="quote">
			<span class="intro">Collecte DEEE professionnel</span>
			<span class="more">
                            On appelle en l’occurrence déchets professionnels tous les déchets électriques et électroniques produits par les entreprises, c’est-à-dire du matériel informatique, qui représente 90% des produits récupérés : Unités centrales – Moniteurs – Serveurs – Claviers – Souris – Fax – Imprimantes – Ordinateurs portables – Câbles d’alimentation mais aussi des téléphones : Fixes ou Portables.
                            Des spécialistes sur votre site le jour de la collecte
                            Nos équipes sont qualifiées pour tout type de stockage placé en vrac au sous-sol, à l’étage d’un immeuble, ou dans un local annexe
                            On organise le conditionnement de manière optimale, avec un pré-tri sur votre site. Une fois le vrac conditionné,
                            Nous pourrons procéder à la collecte de vos DEEE.
                        </span>
			<span class="customer">The McPhersons</span>
		  </div>
		</blockquote>

		<blockquote class="col-sm-6" id="johnb">
		  <div class="quote">
			<span class="intro">Transport DEEE professionnel</span>
			<span class="more">
                            Au départ de votre site où sont stockés vos DEEE, nous vous remettons le Bordereau de Suivi de Déchets (BSD) pré-rempli et à signer. Ce document Cerfa est obligatoire et doit suivre le déchet. 
                            Nous optimisons les déplacements de nos véhicules en fonction des quantités collectés et des accès au site de nos clients
                            Pour le transport de très gros volumes, nous faisons appel à un réseau de partenaires de transport qui organise l’acheminement des DEEE vers nos centres de traitement.

                            Tous nos transports sont réalisés sous autorisation préfectorale, comme l’exige la loi.
                        </span>
			<span class="customer">John B</span>
		  </div>
		</blockquote>

		<blockquote class="col-sm-6" id="lorraines">
		  <div class="quote">
			<span class="intro">Au service de l'environnement</span>
			<span class="more">
                            La sécurité des données est un enjeu essentiel pour les entreprises. Notre groupement permet à nos clients la sécurisation des données présentes sur des équipements de stockage.
                            Anonymisation par effacement multicouches des équipements de stockage de données
                            Destruction physique des équipements de stockage de données
                        </span>
			<span class="customer">Lorraine S</span>
		  </div>
		</blockquote>
	
		
	  </div> <!-- row -->
	</div> <!-- container -->
  </div><!-- testimonials page -->
  </div>
{% endblock %}
